.rtc-field { font-size: 12px; color: blue;  vertical-align: top; }
.recvMsgTxt {
  width: 640px;
  height: 120px;
  white-space: normal;
  overflow: auto;
  border: solid 1px #cccccc;
   margin-bottom: 5px
}
.sendMsgTxt {
  width: 640px;
  height: 64px;
  white-space: normal;
  overflow: auto;
  border: solid 1px #cccccc;
  margin-bottom: 5px
}
.jmpMessage {
  width: 640px;
  height: 60px;
  white-space: normal;
  overflow: auto;
  border: solid 1px #cccccc;
  margin-bottom: 5px
}
.cfgMessage {
  width: 640px;
  height: 120px;
  white-space: normal;
  overflow: auto;
  border: solid 1px #cccccc;
  margin-bottom: 5px
}
.statsItem {
  width: 50%; 
  float: left
}
.statsContainer::after { 
  content: "";
  clear: both;
  display: table
}